@model DeveloperModule.Models.Bug

@{
    ViewBag.Title = "ViewBugs";
}

<h2>ViewBugs</h2>

<div>
    @*<h4>Bug</h4>*@
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.bugdesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bugdesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.projname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projname)
        </dd>

    </dl>
</div>
<p>


    @* @Html.ActionLink("Edit", "Edit", new { id = Model.bugid }) |*@
    @Html.ActionLink("Update bug fix", "UpdateBug", new { id = Model.devid})|
    @Html.ActionLink("Back to List", "ReadD")




</p>
